body{
    background-image: url('buter.jpg');
    background-repeat: no-repeat;
    background-size: cover fullpage ;
    background-position: center;
    background-size: 100% 100%;
    background-attachment: fixed;
}